<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Home</title>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    <!-- <h1>This is home page </h1> -->
    <p class="home">Welcome to our page</p>

    <p class="homepic">
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/17/Tartu_Town_Hall_Place_towards_Kaarsild_2015.jpg" height=400 width=400 >
    </p>


    <%- include('./partials/footer.ejs') %>
</body>
</html>