body {
    background-color: #7bb8e0;
}

div.posts_list {
    color: black;
	height: 600 px;
	width: 600px;
	margin-left: 27%;
	padding: 10px;
    text-align: center;

}
div.singlepost-content{
    box-sizing: border-box;
	border: 2px solid #c9ccc5;
    border-radius: 10%;
    text-align: center;
    background-color: rgb(243, 236, 236);
    height: 600 px;
	width: 600px;
}
div.singlepost{
	height: 600 px;
	width: 600px;
	margin-left: 27%;
	padding: 10px;
    text-align: center;
    background-color: rgb(223, 219, 219);
    font-size: 17px;
    border-radius: 10%;
    
}

a.delete {
    box-sizing: border-box;
	border: 1px solid #e0e0e0;
	cursor: pointer;
	background-color: rgb(172, 204, 224);
    border-radius: 10%;
    margin-left: -350px;
    font-size: 20px;
    padding: 5px;

}

nav{
    margin-top: 5x;
    text-align: center;
    height: 50px;
}

footer{
    margin-top: 30px;
    text-align: center;
}

p.home{
    margin-top: 30px;
    text-align: center;
}

p.homepic{
    text-align: center;
}

div.create-post{
	height: 300 px;
	width: 300px;
	margin-left: 40%;
	padding: 10px;
    text-align: center;
    box-sizing: border-box;
	border: 2px solid #c9ccc5;
    border-radius: 10%;
    text-align: center;
    color: blue;
    background-color: rgb(235, 233, 233);
}

button.submit {
    background: rgb(223, 223, 226);
    border-radius: 15%;
}

button.btn {
    box-sizing: border-box;
	height: 30px;
	width: 50px;
    padding: 5px;
	border: 1px solid #e0e0e0;
	cursor: pointer;
	background-color: rgb(172, 204, 224);
    border-radius: 10%;
    margin-left: 50px;
    font-size: 15px;
}

p.no_likes {
    margin-left: 250px;
}
